body{
    background-color:rgb(215, 222, 215);
    color: rgb(138, 58, 7);
}

nav{
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    text-align: center;
}

header{
    text-align: center;    

}

.lgbutton{
    width: 200 px;
    height: 30 px;
    background-color: rgb(238, 242, 231);
    border-radius: 10px;
}