body{
    background-color:rgb(55, 85, 55);
    color: rgb(239, 239, 65);
}

nav{
    height: 7000px;
    width: 100px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    text-align: center;
}

header{
    text-align: center;    
}

.lgbutton{
    width: 200 px;
    height: 30 px;
    background-color: greenyellow;
    border-radius: 10px;
}